@use './variables';
@use './mixins';

* {
    box-sizing: border-box;
}

body {
    @include mixins.flex-column;
    @include mixins.width-height(98vw, auto);
    margin: 0;
    font-family: variables.$main-font;
    background: variables.$body-background;
    color: variables.$text-color-black;
}

#root {
    @include mixins.flex-center;
    @include mixins.width-height;
}