$main-font: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

$body-background: rgb(60, 60, 60);

$text-color-black: rgb(40, 40, 40);

$app-background: rgb(246, 246, 246);

$error-color: rgb(255, 57, 57);

$nav-buttons-color: rgb(234, 234, 234);
$nav-buttons-background: rgb(140, 151, 255);

$nav-buttons-color-hover: rgb(250, 250, 250);

$qrGen-button-background: rgb(199, 253, 222);
$qrGen-button-color-hover: rgb(30, 30, 30);