@use '../globalStyles/_variables.scss';
@use '../globalStyles/mixins';

.container {
    @include mixins.flex-column;
    @include mixins.width-height(70%, 96%);
    background: variables.$app-background;
    border-radius: 10px;
    margin-top: 3%;
}